@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Poppins:ital,wght@0,200;0,300;0,900;1,400;1,500&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap');
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -240px;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.card{
    padding: 100px;
    border-radius: 60px;
}
.wave{
    margin-top: -240px;
}
